body {

}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #555;
  color: #fff;
}

header a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

header li {
  display: inline-block;
  margin-right: 1rem;
}

header #branding {
  font-size: 2rem;
}

header #branding h1 {
  margin: 0;
}

header nav {
  margin-top: 1rem;
}

header .highlight,
header .current a {
  background-color: #fff;
  color: #555;
  border-radius: 4px;
  padding: 0.5rem;
}

header a:hover {
  background-color: #eee;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#newsletter form input[type="email"],
.quote input,
.quote textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  margin-bottom: 0.5rem;
  width: 100%;
}

#newsletter form button[type="submit"],
.quote button[type="submit"] {
  background-color: #fff;
  color: #555;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
